@font-face {
  font-family:icomoon;
  src:url(fonts/icomoon.eot?e7vw3h);
  src:url(fonts/icomoon.eot?e7vw3h#iefix) format('embedded-opentype'),
  url(fonts/icomoon.ttf?e7vw3h) format('truetype'),
  url(fonts/icomoon.woff?e7vw3h) format('woff'),
  url(fonts/icomoon.svg?e7vw3h#icomoon) format('svg');
  font-weight:400;
  font-style:normal;
  font-display:block
}
[class*=" icon-"],
[class^=icon-] {
  font-family:icomoon!important;
  speak:never;
  font-style:normal;
  font-weight:400;
  font-variant:normal;
  text-transform:none;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}
.icon-search1:before {
  content:"\e9e7"
}
.icon-zoom-in1:before {
  content:"\e9e8"
}
.icon-box-arena:before {
  content:"\e9f2"
}
.icon-box-club:before {
  content:"\e9cd"
}
.icon-box-cup:before {
  content:"\e9ce"
}
.icon-box-fans:before {
  content:"\e9cf"
}
.icon-box-finances:before {
  content:"\e9d2"
}
.icon-box-friendly:before {
  content:"\e9d3"
}
.icon-box-ladder:before {
  content:"\e9d5"
}
.icon-box-manager:before {
  content:"\e9d8"
}
.icon-box-match:before {
  content:"\e9db"
}
.icon-box-my-office:before {
  content:"\e9dd"
}
.icon-box-players:before {
  content:"\e9de"
}
.icon-box-series-match:before {
  content:"\e9df"
}
.icon-box-stadium:before {
  content:"\e9e0"
}
.icon-box-staff:before {
  content:"\e9e1"
}
.icon-box-tournament:before {
  content:"\e9e2"
}
.icon-box-training:before {
  content:"\e9e3"
}
.icon-box-transfers:before {
  content:"\e9e4"
}
.icon-aim .path1:before {
  content:"\e93d";
  color:#389933
}
.icon-aim .path2:before {
  content:"\e93e";
  margin-left:-1em;
  color:#fff
}
.icon-aim .path3:before {
  content:"\e93f";
  margin-left:-1em;
  color:#fff
}
.icon-aow .path1:before {
  content:"\e940";
  color:#389933
}
.icon-aow .path2:before {
  content:"\e941";
  margin-left:-1em;
  color:#fff
}
.icon-aow .path3:before {
  content:"\e942";
  margin-left:-1em;
  color:#fff
}
.icon-aow .path4:before {
  content:"\e943";
  margin-left:-1em;
  color:#fff
}
.icon-confusion .path1:before {
  content:"\e944";
  color:#fdcd67
}
.icon-confusion .path2:before {
  content:"\e945";
  margin-left:-1.15625em;
  color:#000
}
.icon-corner .path1:before {
  content:"\e946";
  color:#fdcd67
}
.icon-corner .path2:before {
  content:"\e947";
  margin-left:-.78125em;
  color:#ef5454
}
.icon-corner .path3:before {
  content:"\e948";
  margin-left:-.78125em;
  color:#ef5454
}
.icon-counter_attack .path1:before {
  content:"\e949";
  color:#389933
}
.icon-counter_attack .path2:before {
  content:"\e94a";
  margin-left:-1em;
  color:#ef5454
}
.icon-counter_attack-b .path1:before {
  content:"\e94b";
  color:#389933
}
.icon-counter_attack-b .path2:before {
  content:"\e94c";
  margin-left:-1em;
  color:#fdcd67
}
.icon-counter_attack-b .path3:before {
  content:"\e94d";
  margin-left:-1em;
  color:#fff
}
.icon-creative:before {
  content:"\e94e";
  color:#389933
}
.icon-derby .path1:before {
  content:"\e94f";
  color:#389933
}
.icon-derby .path2:before {
  content:"\e950";
  margin-left:-1em;
  color:#ef5454
}
.icon-experience .path1:before {
  content:"\e951";
  color:#fdcd67
}
.icon-experience .path2:before {
  content:"\e952";
  margin-left:-1em;
  color:#000
}
.icon-goal .path1:before {
  content:"\e953";
  color:#fff
}
.icon-goal .path2:before {
  content:"\e954";
  margin-left:-1em;
  color:#fff
}
.icon-goal .path3:before {
  content:"\e955";
  margin-left:-1em;
  color:#444
}
.icon-goal .path4:before {
  content:"\e956";
  margin-left:-1em;
  color:#444
}
.icon-goal .path5:before {
  content:"\e957";
  margin-left:-1em;
  color:#444
}
.icon-goal .path6:before {
  content:"\e958";
  margin-left:-1em;
  color:#444
}
.icon-goal .path7:before {
  content:"\e959";
  margin-left:-1em;
  color:#444
}
.icon-goal .path8:before {
  content:"\e95a";
  margin-left:-1em;
  color:#444
}
.icon-goal .path9:before {
  content:"\e95b";
  margin-left:-1em;
  color:#444
}
.icon-goal_C .path1:before {
  content:"\e95c";
  color:#fff
}
.icon-goal_C .path2:before {
  content:"\e95d";
  margin-left:-1em;
  color:#fff
}
.icon-goal_C .path3:before {
  content:"\e95e";
  margin-left:-1em;
  color:#444
}
.icon-goal_C .path4:before {
  content:"\e95f";
  margin-left:-1em;
  color:#444
}
.icon-goal_C .path5:before {
  content:"\e960";
  margin-left:-1em;
  color:#444
}
.icon-goal_C .path6:before {
  content:"\e961";
  margin-left:-1em;
  color:#444
}
.icon-goal_C .path7:before {
  content:"\e962";
  margin-left:-1em;
  color:#444
}
.icon-goal_C .path8:before {
  content:"\e963";
  margin-left:-1em;
  color:#444
}
.icon-goal_C .path9:before {
  content:"\e964";
  margin-left:-1em;
  color:#444
}
.icon-goal_C .path10:before {
  content:"\e965";
  margin-left:-1em;
  color:#ef5454
}
.icon-goal_L .path1:before {
  content:"\e966";
  color:#fff
}
.icon-goal_L .path2:before {
  content:"\e967";
  margin-left:-1.0625em;
  color:#fff
}
.icon-goal_L .path3:before {
  content:"\e968";
  margin-left:-1.0625em;
  color:#444
}
.icon-goal_L .path4:before {
  content:"\e96a";
  margin-left:-1.0625em;
  color:#444
}
.icon-goal_L .path5:before {
  content:"\e96b";
  margin-left:-1.0625em;
  color:#444
}
.icon-goal_L .path6:before {
  content:"\e96c";
  margin-left:-1.0625em;
  color:#444
}
.icon-goal_L .path7:before {
  content:"\e96d";
  margin-left:-1.0625em;
  color:#444
}
.icon-goal_L .path8:before {
  content:"\e96e";
  margin-left:-1.0625em;
  color:#444
}
.icon-goal_L .path9:before {
  content:"\e96f";
  margin-left:-1.0625em;
  color:#444
}
.icon-goal_L .path10:before {
  content:"\e970";
  margin-left:-1.0625em;
  color:#ef5454
}
.icon-goal_R .path1:before {
  content:"\e971";
  color:#fff
}
.icon-goal_R .path2:before {
  content:"\e972";
  margin-left:-1.0625em;
  color:#fff
}
.icon-goal_R .path3:before {
  content:"\e973";
  margin-left:-1.0625em;
  color:#444
}
.icon-goal_R .path4:before {
  content:"\e974";
  margin-left:-1.0625em;
  color:#444
}
.icon-goal_R .path5:before {
  content:"\e975";
  margin-left:-1.0625em;
  color:#444
}
.icon-goal_R .path6:before {
  content:"\e976";
  margin-left:-1.0625em;
  color:#444
}
.icon-goal_R .path7:before {
  content:"\e977";
  margin-left:-1.0625em;
  color:#444
}
.icon-goal_R .path8:before {
  content:"\e978";
  margin-left:-1.0625em;
  color:#444
}
.icon-goal_R .path9:before {
  content:"\e979";
  margin-left:-1.0625em;
  color:#444
}
.icon-goal_R .path10:before {
  content:"\e97a";
  margin-left:-1.0625em;
  color:#ef5454
}
.icon-longshot:before {
  content:"\e97b";
  color:#389933
}
.icon-longshot-b .path1:before {
  content:"\e97c";
  color:#389933
}
.icon-longshot-b .path2:before {
  content:"\e97d";
  margin-left:-1em;
  color:#fff
}
.icon-manmark .path1:before {
  content:"\e97e";
  color:#444
}
.icon-manmark .path2:before {
  content:"\e97f";
  margin-left:-.90625em;
  color:#444
}
.icon-manmark .path3:before {
  content:"\e980";
  margin-left:-.90625em;
  color:#fff
}
.icon-manmark .path4:before {
  content:"\e981";
  margin-left:-.90625em;
  color:#444
}
.icon-manmark .path5:before {
  content:"\e982";
  margin-left:-.90625em;
  color:#fff
}
.icon-miss .path1:before {
  content:"\e983";
  color:#fff
}
.icon-miss .path2:before {
  content:"\e984";
  margin-left:-1em;
  color:#fdcd67
}
.icon-miss .path3:before {
  content:"\e985";
  margin-left:-1em;
  color:#444
}
.icon-miss .path4:before {
  content:"\e986";
  margin-left:-1em;
  color:#444
}
.icon-miss .path5:before {
  content:"\e987";
  margin-left:-1em;
  color:#444
}
.icon-miss .path6:before {
  content:"\e988";
  margin-left:-1em;
  color:#444
}
.icon-miss .path7:before {
  content:"\e989";
  margin-left:-1em;
  color:#444
}
.icon-miss .path8:before {
  content:"\e98a";
  margin-left:-1em;
  color:#444
}
.icon-miss .path9:before {
  content:"\e98b";
  margin-left:-1em;
  color:#444
}
.icon-miss_C .path1:before {
  content:"\e98d";
  color:#fff
}
.icon-miss_C .path2:before {
  content:"\e98e";
  margin-left:-1em;
  color:#fdcd67
}
.icon-miss_C .path3:before {
  content:"\e98f";
  margin-left:-1em;
  color:#444
}
.icon-miss_C .path4:before {
  content:"\e990";
  margin-left:-1em;
  color:#444
}
.icon-miss_C .path5:before {
  content:"\e991";
  margin-left:-1em;
  color:#444
}
.icon-miss_C .path6:before {
  content:"\e992";
  margin-left:-1em;
  color:#444
}
.icon-miss_C .path7:before {
  content:"\e993";
  margin-left:-1em;
  color:#444
}
.icon-miss_C .path8:before {
  content:"\e994";
  margin-left:-1em;
  color:#444
}
.icon-miss_C .path9:before {
  content:"\e995";
  margin-left:-1em;
  color:#444
}
.icon-miss_C .path10:before {
  content:"\e996";
  margin-left:-1em;
  color:#444
}
.icon-miss_L .path1:before {
  content:"\e997";
  color:#fff
}
.icon-miss_L .path2:before {
  content:"\e998";
  margin-left:-1.0625em;
  color:#fdcd67
}
.icon-miss_L .path3:before {
  content:"\e999";
  margin-left:-1.0625em;
  color:#444
}
.icon-miss_L .path4:before {
  content:"\e99a";
  margin-left:-1.0625em;
  color:#444
}
.icon-miss_L .path5:before {
  content:"\e99b";
  margin-left:-1.0625em;
  color:#444
}
.icon-miss_L .path6:before {
  content:"\e99c";
  margin-left:-1.0625em;
  color:#444
}
.icon-miss_L .path7:before {
  content:"\e99d";
  margin-left:-1.0625em;
  color:#444
}
.icon-miss_L .path8:before {
  content:"\e99e";
  margin-left:-1.0625em;
  color:#444
}
.icon-miss_L .path9:before {
  content:"\e99f";
  margin-left:-1.0625em;
  color:#444
}
.icon-miss_L .path10:before {
  content:"\e9a0";
  margin-left:-1.0625em;
  color:#444
}
.icon-miss_R .path1:before {
  content:"\e9a1";
  color:#fff
}
.icon-miss_R .path2:before {
  content:"\e9a2";
  margin-left:-1.0625em;
  color:#fdcd67
}
.icon-miss_R .path3:before {
  content:"\e9a3";
  margin-left:-1.0625em;
  color:#444
}
.icon-miss_R .path4:before {
  content:"\e9a4";
  margin-left:-1.0625em;
  color:#444
}
.icon-miss_R .path5:before {
  content:"\e9a5";
  margin-left:-1.0625em;
  color:#444
}
.icon-miss_R .path6:before {
  content:"\e9a6";
  margin-left:-1.0625em;
  color:#444
}
.icon-miss_R .path7:before {
  content:"\e9a7";
  margin-left:-1.0625em;
  color:#444
}
.icon-miss_R .path8:before {
  content:"\e9a8";
  margin-left:-1.0625em;
  color:#444
}
.icon-miss_R .path9:before {
  content:"\e9a9";
  margin-left:-1.0625em;
  color:#444
}
.icon-miss_R .path10:before {
  content:"\e9aa";
  margin-left:-1.0625em;
  color:#444
}
.icon-penalty .path1:before {
  content:"\e9ab";
  color:#389933
}
.icon-penalty .path2:before {
  content:"\e9ac";
  margin-left:-1em;
  color:#fff
}
.icon-penalty .path3:before {
  content:"\e9ad";
  margin-left:-1em;
  color:#fff
}
.icon-penalty .path4:before {
  content:"\e9ae";
  margin-left:-1em;
  color:#fff;
  opacity:.5
}
.icon-penalty .path5:before {
  content:"\e9af";
  margin-left:-1em;
  color:#fff;
  opacity:.5
}
.icon-pressing:before {
  content:"\e9b0";
  color:#389933
}
.icon-pullback .path1:before {
  content:"\e9b1";
  color:#389933
}
.icon-pullback .path2:before {
  content:"\e9b2";
  margin-left:-1em;
  color:#fff
}
.icon-pullback .path3:before {
  content:"\e9b3";
  margin-left:-1em;
  color:#fff
}
.icon-pullback .path4:before {
  content:"\e9b4";
  margin-left:-1em;
  color:#fff
}
.icon-reorganise:before {
  content:"\e9b5";
  color:#389933
}
.icon-special .path1:before {
  content:"\e9b6";
  color:#389933
}
.icon-special .path2:before {
  content:"\e9b7";
  margin-left:-1em;
  color:#fff
}
.icon-tired .path1:before {
  content:"\e9b8";
  color:#444
}
.icon-tired .path2:before {
  content:"\e9b9";
  margin-left:-1em;
  color:#ef5454
}
.icon-underest .path1:before {
  content:"\e9ba";
  color:#444
}
.icon-underest .path2:before {
  content:"\e9bb";
  margin-left:-1em;
  color:#444
}
.icon-underest .path3:before {
  content:"\e9bc";
  margin-left:-1em;
  color:#ef5454
}
.icon-underest_decr .path1:before {
  content:"\e9bd";
  color:#444
}
.icon-underest_decr .path2:before {
  content:"\e9be";
  margin-left:-1em;
  color:#444
}
.icon-underest_decr .path3:before {
  content:"\e9bf";
  margin-left:-1em;
  color:#ef5454
}
.icon-underest_gone .path1:before {
  content:"\e9c0";
  color:#444
}
.icon-underest_gone .path2:before {
  content:"\e9c1";
  margin-left:-1em;
  color:#444
}
.icon-underest_gone .path3:before {
  content:"\e9c2";
  margin-left:-1em;
  color:#ef5454
}
.icon-whistle .path1:before {
  content:"\e9c3";
  color:#fdcd67
}
.icon-whistle .path2:before {
  content:"\e9c4";
  margin-left:-1.03125em;
  color:#444
}
.icon-injury:before {
  content:"\e921";
  color:#f33
}
.icon-plaster .path1:before {
  content:"\e92e";
  color:#f7c3b0
}
.icon-plaster .path2:before {
  content:"\e92f";
  margin-left:-1em;
  color:#444
}
.icon-plaster .path3:before {
  content:"\e930";
  margin-left:-1em;
  color:#444
}
.icon-plaster .path4:before {
  content:"\e931";
  margin-left:-1em;
  color:#444
}
.icon-plaster .path5:before {
  content:"\e932";
  margin-left:-1em;
  color:#444
}
.icon-plaster .path6:before {
  content:"\e933";
  margin-left:-1em;
  color:#d88b73
}
.icon-plaster .path7:before {
  content:"\e934";
  margin-left:-1em;
  color:#d88b73
}
.icon-red-card:before {
  content:"\e935";
  color:#f33
}
.icon-yellow-card:before {
  content:"\e936";
  color:#fc0
}
.icon-yellow-card-x2:before {
  content:"\e937";
  color:#fc0
}
.icon-mother-club:before {
  content:"\e938"
}
.icon-plus-circle:before {
  content:"\f055"
}
.icon-timeline-back:before {
  content:"\e916"
}
.icon-timeline-end:before {
  content:"\e917"
}
.icon-timeline-forward:before {
  content:"\e918"
}
.icon-timeline-start:before {
  content:"\e919"
}
.icon-speciality-1:before {
  content:"\e900"
}
.icon-speciality-2:before {
  content:"\e91a"
}
.icon-speciality-3:before {
  content:"\e91b"
}
.icon-speciality-4:before {
  content:"\e91c"
}
.icon-speciality-5:before {
  content:"\e91d"
}
.icon-speciality-6:before {
  content:"\e91e"
}
.icon-speciality-8:before {
  content:"\e91f"
}
.icon-speciality-0:before {
  content:"\ea0e"
}
.icon-mo-analysis:before {
  content:"\e920"
}
.icon-mo-review2:before {
  content:"\e923"
}
.icon-mo-behaviour:before {
  content:"\e924"
}
.icon-mo-players:before {
  content:"\e925"
}
.icon-mo-tactics:before {
  content:"\e926"
}
.icon-mo-target:before {
  content:"\e927"
}
.icon-mo-load:before {
  content:"\e928"
}
.icon-mo-orders:before {
  content:"\e929"
}
.icon-mo-penalties:before {
  content:"\e92a"
}
.icon-mo-review:before {
  content:"\e92b"
}
.icon-mo-select:before {
  content:"\e92c"
}
.icon-mo-submit:before {
  content:"\e92d"
}
.icon-caret-down:before {
  content:"\f0db"
}
.icon-caret-up:before {
  content:"\f0dc"
}
.icon-caret-left:before {
  content:"\f0d9"
}
.icon-caret-right:before {
  content:"\f0da"
}
.icon-circle:before {
  content:"\e913"
}
.icon-caret-inward:before {
  content:"\e914"
}
.icon-caret-outward:before {
  content:"\e915"
}
.icon-chevron-up:before {
  content:"\f077"
}
.icon-chevron-down:before {
  content:"\f078"
}
.icon-chevron-left:before {
  content:"\f053"
}
.icon-chevron-right:before {
  content:"\f054"
}
.icon-chevron-step-back:before {
  content:"\e911"
}
.icon-chevron-step-forward:before {
  content:"\e912"
}
.icon-arrow-up:before {
  content:"\f176"
}
.icon-arrow-down:before {
  content:"\f175"
}
.icon-exchange:before {
  content:"\f0ec"
}
.icon-quote:before {
  content:"\e904"
}
.icon-ball:before {
  content:"\e922"
}
.icon-ball-miss:before {
  content:"\e901"
}
.icon-clock:before {
  content:"\e902"
}
.icon-match:before {
  content:"\e903"
}
.icon-pause:before {
  content:"\e905"
}
.icon-play:before {
  content:"\e906"
}
.icon-step-forward:before {
  content:"\f051"
}
.icon-step-forward-fast:before {
  content:"\f050"
}
.icon-shirt:before {
  content:"\e907"
}
.icon-chat:before {
  content:"\e908"
}
.icon-trophy:before {
  content:"\e909"
}
.icon-pieces:before {
  content:"\e90a"
}
.icon-captain:before {
  content:"\e90c"
}
.icon-trash:before {
  content:"\f1f8"
}
.icon-add:before {
  content:"\f067"
}
.icon-timeline:before {
  content:"\f017"
}
.icon-help:before {
  content:"\f059"
}
.icon-info:before {
  content:"\f05a"
}
.icon-info-2:before {
  content:"\f129"
}
.icon-forward:before {
  content:"\e969"
}
.icon-power:before {
  content:"\f011"
}
.icon-new-tab:before {
  content:"\ea7e"
}
.icon-home:before {
  content:"\f015"
}
.icon-toggle-left:before {
  content:"\f191"
}
.icon-toggle-right:before {
  content:"\f152"
}
.icon-toggle-view:before {
  content:"\eaa4"
}
.icon-search11:before {
  content:"\f002"
}
.icon-sort:before {
  content:"\f0dd"
}
.icon-unsorted:before {
  content:"\f0dd"
}
.icon-sort-asc:before {
  content:"\f0de"
}
.icon-sort-up:before {
  content:"\f0de"
}
.icon-sort-desc:before {
  content:"\f0df"
}
.icon-sort-down:before {
  content:"\f0df"
}
.icon-check:before {
  content:"\f00c"
}
.icon-close:before {
  content:"\f00d"
}
.icon-remove:before {
  content:"\f00d"
}
.icon-times:before {
  content:"\f00d"
}
.icon-minus:before {
  content:"\ea0b"
}
.icon-analysis-main:before {
  content:"\e90e"
}
.icon-analysis-sectors:before {
  content:"\e90f"
}
.icon-analysis-filter:before {
  content:"\e910"
}
.icon-bell:before {
  content:"\f0f3"
}
.icon-bell-slash:before {
  content:"\f1f6"
}
.icon-exclamation-triangle:before {
  content:"\f071"
}
.icon-warning:before {
  content:"\f071"
}
.icon-settings:before {
  content:"\f013"
}
.icon-save:before {
  content:"\f0c7"
}
.icon-undo:before {
  content:"\f0e2"
}
.icon-shrink:before {
  content:"\e98c"
}
.icon-expand:before {
  content:"\e93b"
}
.icon-hattrickml-post:before {
  content:"\e939"
}
.icon-transferlisted:before {
  content:"\e93a"
}
.icon-copy:before {
  content:"\e93c"
}
.icon-zoom-out:before {
  content:"\e9c5"
}
.icon-mobile:before {
  content:"\e9c6"
}
.icon-box-actions:before {
  content:"\e9c9"
}
.icon-box-forms:before {
  content:"\e9d0"
}
.icon-box-help:before {
  content:"\e9d1"
}
.icon-box-alert:before {
  content:"\e9cb"
}
.icon-box-links:before {
  content:"\e9d4"
}
.icon-box-news:before {
  content:"\e9d6"
}
.icon-box-star:before {
  content:"\e9d7"
}
.icon-box-stats:before {
  content:"\e9d9"
}
.icon-box-supporter:before {
  content:"\e9da"
}
.icon-box-settings:before {
  content:"\e9dc"
}
.icon-forum-all:before {
  content:"\e9c7"
}
.icon-social:before {
  content:"\e9c8"
}
.icon-share:before {
  content:"\e9ca"
}
.icon-ladder:before {
  content:"\e9cc"
}
.icon-edit:before {
  content:"\f044"
}
.icon-pencil-square-o:before {
  content:"\f044"
}
.icon-sign-out:before {
  content:"\f08b"
}
.icon-folder-open:before {
  content:"\f115"
}
.icon-widgets:before {
  content:"\e9e9"
}
.icon-inbox:before {
  content:"\f01c"
}
.icon-team-spirit-1:before {
  content:"\e9ea"
}
.icon-team-spirit-2:before {
  content:"\e9eb"
}
.icon-team-spirit-3:before {
  content:"\e9ec"
}
.icon-team-spirit-4:before {
  content:"\e9ed"
}
.icon-team-spirit-5:before {
  content:"\e9ee"
}
.icon-team-spirit-6:before {
  content:"\e9ef"
}
.icon-team-spirit-7:before {
  content:"\e9f0"
}
.icon-team-spirit-8:before {
  content:"\e9f1"
}
.icon-team-spirit-9:before {
  content:"\e9f3"
}
.icon-team-spirit-10:before {
  content:"\e9f4"
}
.icon-x6:before {
  content:"\e90b"
}
.icon-x18:before {
  content:"\e90d"
}
.icon-search:before {
  content:"\e9e5"
}
.icon-zoom-in:before {
  content:"\e9e6"
}
.icon-filter:before {
  content:"\e9f5"
}
